<!DOCTYPE HTML>
<html style="border:ridge" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Duplicate Product Detector</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <div class="container my-2" align="center">
        <div style="display:inline-flex">
            <div>
                <h1 style="font-variant-caps: petite-caps; color:red;border:solid;padding-left:10px;padding-right:10px;">
                    Something went wrong... please try after some time
                </h1>
            </div>
        </div>
    </div>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>






</html>