<!DOCTYPE HTML>
<html style="border:ridge" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Duplicate Product Detector</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body style="background-color: lightcoral;">
<div class="container my-2" align="center">
    <img src="http://duplicateproductdetector-env.eba-hqkvv9kf.us-east-1.elasticbeanstalk.com/img/image2.jpg" alt="Snow" style="
   width:100%;
   height: auto;
    "/>

    <div style="
            font-variant-caps: petite-caps;
            color:darkred;
            border-bottom:solid;
            font-size: 22px;
            padding-top: 5%;
            ">
        Thank you for testing your product
    </div>
    <div style="
    font-size: 14px;
    -webkit-text-stroke-width: thin;
    color: darkred;
    padding-top: 10%;
    ">Fake product, please contact to customer care immediately <B>080 987 6543</B>
    </div>

</div>
</body>